body {
    
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('Stud1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
nav {
    background-color: #4ecff0;
    color: #fff;
    padding: -4px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    z-index: 1000; /* Ensure the nav is above other content */
}
#h1, #para1 {
    font-family:'Lato', sans-serif;;
    font-weight: bold;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 9px; /* Adjust the margin as needed */
    margin-right: 19px;
    font-weight: bold;
   
    
}
nav a:hover {
    color: #c9a62d;
}
nav h1{
    display: inline-block;
    text-decoration: none ;
    margin-right: 650px;
}
nav img{
    display: inline-block;
    width: 6% ;
    height: 60px;
    margin-right: 20px;
    vertical-align: middle;
    
}
  .content {
    margin-top: 60px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    
  }
  
  .faculty {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    

    
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  .copyright {
    flex-basis: 100%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 40px;
 
}
